body {margin:0px;font-size:large;box-sizing:border-box;}
a {text-decoration:none;color:#000000;}
#header {margin:0;padding:0;height:50px;}
#appIcon {margin:0;padding:2px;float:left;height:46px;}
#appTitle {display:inline-block;margin:0.3em;}
#menuIcon {margin:0;padding:0;float:right;}
#feedBtn {margin:0;padding:0;width:100%}
#exitApp {margin:0.1em;float:right;}
#content {margin:0.5em;}
#footer {background:lightblue;}
.feedStatus {}
.lastReadLink {}
.hidden {visibility:collapse;display:none;}
.expose {visibility:visible;display:block;} /* Here for completeness only. */
.copyright {padding:5px;align:left;font-style:italic;font-size:small;}
.marginSpacer {margin:0.5em;}
.clearBoth  {clear:both;}
.floatLeft  {float:left;}
.floatRight {float:right;}

/*  */

#RSSListContainter {margin:0;padding:0;}
#RSSList {font-size:large;}
.plain-list {list-style-type:none;margin:0;padding:0.1em;}
.feedLink {font-size:large;overflow:hidden;}
/* #RSSList > li {overflow:hidden;} */
/* This cause an issue with zepto/jquery when the list is inserted */
/* #linksList > li {overflow:hidden;} */
.contentLink {font-size:large;overflow:hidden;}
#story {padding:0.2em}

/*  */
#feedInput {margin:0.2em;padding:0.2em;}
#RSSURL {font-size:large;padding:0.1em;width:100%}
#RSSLabel {font-size:large;padding:0.1em;width:100%}




