<?xml version="1.0" encoding="UTF-8" ?>
  <widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id         = "com.bsdmasterindex.text-only-rss-reader"
    version     = "1.1.0"
    versionCode = "101" > <!-- versionCode is optional and Android only -->
    <!-- Tool Set Version -->       
    <preference name='phonegap-version' value='cli-5.2.0' />

    <name>Text-Only RSS Reader</name>
    <description>Text Only RSS Reader - a simple Text-Only RSS reader </description>
    <author href="http://bsdmasterindex.com" email="jessemonroy650@yahoo.com">
    Jesse Monroy
    </author>

    <!-- App requested permission -->
    <preference name="permissions" value="none"/>

    <!-- https://github.com/phonegap/phonegap/wiki/App-Icon-Sizes -->
    <!-- ANDROID * ANDROID * ANDROID -->
    <platform name="android" >
       <!-- PREFERENCE * PREFERENCE * PREFERENCE -->
       <preference name="SplashScreen" value="splash" />
       <preference name="SplashScreenDelay" value="2000" />
       <!-- ICON * ICON * ICON -->
       <icon src="icon.png" />
       <icon src="res/icons/android/icon-36-ldpi.png"     qualifier="ldpi" />
       <icon src="res/icons/android/icon-48-mdpi.png"     qualifier="mdpi" />
       <icon src="res/icons/android/icon-72-hdpi.png"     qualifier="hdpi" />
       <icon src="res/icons/android/icon-96-xhdpi.png"    qualifier="xhdpi" />
       <icon src="res/icons/android/icon-144-xxhdpi.png"  qualifier="xxhdpi" />
       <icon src="res/icons/android/icon-192-xxxhdpi.png" qualifier="xxxhdpi" />
       <!-- SPLASH * SPLASH * SPLASH -->
       <splash src="splash.png" />
       <splash src="res/screens/android/screen-ldpi-portrait.png"  qualifier="port-ldpi" />
       <splash src="res/screens/android/screen-mdpi-portrait.png"  qualifier="port-mdpi" />
       <splash src="res/screens/android/screen-hdpi-portrait.png"  qualifier="port-hdpi" />
       <splash src="res/screens/android/screen-xhdpi-portrait.png" qualifier="port-xhdpi" />
    </platform>

    <!-- iOS * iOS * iOS -->
    <platform name="ios" >
       <!-- PREFERENCE * PREFERENCE * PREFERENCE -->
       <preference name="auto-hide-splash-screen" value="false" />  <!-- iOS -->
       <preference name="show-splash-screen-spinner" value="false" />  <!-- iOS -->
       <!-- ICON * ICON * ICON -->
       <icon src="res/icons/ios/icon.png"       width="57"  height="57" />  <!-- iphone -->
       <icon src="res/icons/ios/icon-2x.png"    width="114" height="114" /> <!-- iPhone 4 Retina Display -->
       <icon src="res/icons/ios/icon-40.png"    width="40"  height="40" />
       <icon src="res/icons/ios/icon-40-2x.png" width="80"  height="80" />
       <icon src="res/icons/ios/icon-48.png"    width="48"  height="48" />  <!-- iPad Spotlight -->
       <icon src="res/icons/ios/icon-50.png"    width="50"  height="50" />
       <icon src="res/icons/ios/icon-50-2x.png" width="100" height="100" />
       <icon src="res/icons/ios/icon-60.png"    width="60"  height="60" />
       <icon src="res/icons/ios/icon-60-2x.png" width="120" height="120" />
       <icon src="res/icons/ios/icon-60-3x.png" width="180" height="180" />
       <icon src="res/icons/ios/icon-72.png"    width="72"  height="72" />  <!-- ipad -->
       <icon src="res/icons/ios/icon-72-2x.png" width="144" height="144" /> <!-- iPad 3 Retina Display -->
       <icon src="res/icons/ios/icon-76.png"    width="76"  height="76" />
       <icon src="res/icons/ios/icon-76-2x.png" width="152" height="152" />
       <icon src="res/icons/ios/icon-small.png"    width="29"  height="29" />  <!-- iPhone Settings/Spotlight, iPad Settings -->
       <icon src="res/icons/ios/icon-small-2x.png" width="58"  height="58" />  <!-- iPhone 4 Settings/Spotlight -->

       <!-- SPLASH * SPLASH * SPLASH -->
       <splash src="res/icons/screens/screen-ipad-portrait.png"           width="768"  height="1024" />
       <splash src="res/icons/screens/screen-ipad-portrait-2x.png"        width="1536" height="2048" />
       <splash src="res/icons/screens/screen-iphone-portrait.png"         width="320"  height="480" />
       <splash src="res/icons/screens/screen-iphone-portrait-2x.png"      width="640"  height="960" />
       <splash src="res/icons/screens/screen-iphone-portrait-568h-2x.png" width="640"  height="1136" />
       <splash src="res/icons/screens/screen-iphone-portrait-667h.png"    width="750"  height="1134" />
       <splash src="res/icons/screens/screen-iphone-portrait-736h.png"    width="1242" height="2208" />
    </platform>

    <!-- PLUGINS * PLUGINS * PLUGINS -->
    <!-- spec="" follows the syntax of https://docs.npmjs.com/cli/install -->
    <plugin name="cordova-plugin-device"        source="npm" spec="1.0.1" />
    <plugin name="cordova-plugin-dialogs"       source="npm" spec="1.1.1" />
    <plugin name="cordova-plugin-inappbrowser"   source="npm" spec="1.0.1" />
    <plugin name="cordova-plugin-splashscreen"   source="npm" spec="2.1.0" />
    <plugin name="cordova-plugin-whitelist"      source="npm" spec="1.0.0" />

    <!-- 3RD-Party * 3RD-Party * 3RD-Party -->
    <plugin name="cordova-plugin-appversion"     source="npm" spec="1.0.0" />

    <!-- WHITELIST * WHITELIST * WHITELIST -->
    <!-- https://github.com/jessemonroy650/top-phonegap-mistakes/blob/master/the-whitelist-system.md -->
    <!-- <allow-navigation href="*" /> -->
    <allow-intent href="*" />
    <access origin="*" /> <!-- Required for iOS9 -->
  </widget>
